<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <title>Document</title>
</head>

<body>
    <a href="/users/dashboard">Back</a>
    <h1>Dashboard</h1>
    <h4>Hello <%= user %></h4>
    <div style="width:800px;">
        <div style="width:300px; float:left;">
        <h4>Add a bid: </h4>
        <form action="/availability/" method="post">
            <label for="start_date">Enter bid start date: </label>
            <input id="start_date" type="date" name="start_date" value="">
            <label for="end_date">Enter bid end date: </label>
            <input id="end_date" type="date" name="end_date" value="">
            <label for="pname">Enter pet name: </label>
            <input id="pname" type="text" name="pname" value="Pet name">
            <label for="ctname">Enter caretaker name: </label>
            <input id="ctname" type="text" name="ctname" 
value="Caretaker name">
            <input type="submit" value="OK">
        </form>
    </div>
    <div style="clear: both;"></div>
    <h4>Your Bids</h4>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Pet Name</th>
            <th scope="col">Caretaker Name</th>
        </tr>
        </thead>
        <tbody>
        <% for(var i=0; i<data.length; i++) { %>
            <tr>
                <td><%= data[i].start_date%></td>
                <td><%= data[i].end_date%></td>
                <td><%= data[i].pname%></td>
                <td><%= data[i].ctuname%></td>
                <td>
                    <form action="/bid/delete" method="deleteBidAsPetOwner">
                        <input id="start_date" type="hidden" name="start_date" value="<%= data[i].start_date %>">
                        <input id="end_date" type="hidden" name="end_date" value="<%= data[i].end_date %>">
                        <input id="pname" type="hidden" name="pname" value="<%= data[i].pname %>">
                        <input id="ctuname" type="hidden" name="ctuname" value="<%= data[i].ctuname %>">
                        <input type="submit" value="DELETE">
                    </form>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>
</body>

</html>