<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>PetCareService</title>
</head>

<body>
    <div>
        <ul class="horizontal navbar">
            <li><a href="/users/dashboard">Home</a></li>
            <% if (usertype === 'both' || usertype === 'pet_owner') { %>
            <li>
                <div class="dropdown">
                <button class="dropbtn">Pet Owner
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="/pets">My Pets</a>
                  <a href="/bid/find">Place a bid</a>
                  <a href="/bid/petOwner">My bids</a>
                </div>
              </div>
            </li>
            <% } %>
            <% if (usertype === 'both' || usertype === 'care_taker') { %>
            <li>
                <div class="dropdown">
                <button class="dropbtn">Care Taker
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="/availability">My availabilities</a>
                  <a href="/leave">My Leaves</a>
                  <a href="/leave">My Leaves</a>
                  <a href="/bid/careTaker">Bids for me</a>
                  <a href="/summary">My monthly summaries</a>
                </div>
              </div>
            </li>
            <% } %>
            <% if (usertype === 'admin') { %>
            <li>
                <div class="dropdown">
                <button class="dropbtn">Admin
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="/basePrice">Manage base prices</a>
                </div>
              </div>
            </li>
            <% } %>
            <li style="float:right"><a href="/users/logout">Logout</a></li>
            <li style="float:right"><a>Logged in as <%= user %></a></li>

        </ul>
    </div>
        
    <div class="content">
        <div>
            <form class="pure-form-stacked" action="/basePrice/" method="post">
                <legend>Add a base price</legend>
                <label for="category">Enter pet category: </label>
                <input id="category" type="text" name="category" placeholder="Category">
                <label for="price">Enter price: </label>
                <input id="price" type="number" name="price" placeholder="Price">
                <input type="submit" value="OK">
            </form>
        </div>

        <div style="clear: both;"></div>
        
        <h4>All Base Prices</h4>
        <table class="pure-table pure-table-bordered">
            <thead>
            <tr>
                <th scope="col">Category</th>
                <th scope="col">Price</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            <% for(var i=0; i<data.length; i++) { %>
                <tr>
                    <td><%= data[i].category%></td>
                    <td>
                        <form class="pure-form" action="/basePrice/update" method="post">
                            <input id="category" type="hidden" name="category" value="<%= data[i].category %>">
                            <input id="price" type="number" name="price" value="<%= data[i].price %>">
                            <input type="submit" value="Update">
                        </form>
                    </td>
                    <td>
                        <form action="/basePrice/delete" method="post">
                            <input id="category" type="hidden" name="category" value="<%= data[i].category %>">
                            <input type="submit" value="DELETE">
                        </form>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</body>

</html>