<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <title>Document</title>
</head>

<body>
    <a href="/users/dashboard">Back</a>
    <h1>Dashboard</h1>
    <h4>Hello <%= user %></h4>
    <div style="width:800px;">
        <div style="width:300px; float:left;">
        <h4>Add that shit: </h4>
        <form action="/users/dashboard/pets/" method="post">
            <label for="pname">Enter pet name: </label>
            <input id="pname" type="text" name="pname" value="">
            <label for="Profile">Enter pet profile: </label>
            <input id="profile" type="text" name="profile" value="">
            <label for="category">Enter pet category: </label>
            <input id="category" type="text" name="category" value="Category">
            <label for="special_requirements">Enter special req: </label>
            <input id="special_requirements" type="text" name="special_requirements" value="">
            <input type="submit" value="OK">
        </form>
        </div>
        <div style="width:300px; float:right;">
        <div class="form-header">
            <h4>Delete a bitch: </h4>
        </div>
        <form action="/users/dashboard/pets/delete/" method="post">
            <label for="pname">Enter pet name: </label>
            <input id="pname" type="text" name="pname" value="">
            <input type="submit" value="OK">
        </form>
        </div>
    </div>
    <div style="clear: both;"></div>
    <h4>Your Pets</h4>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Pet name</th>
            <th scope="col">Profile</th>
            <th scope="col">Category</th>
            <th scope="col">Special Requirements</th>
        </tr>
        </thead>
        <tbody>
        <% for(var i=0; i<data.length; i++) { %>
            <tr>
                <td><%= data[i].pname%></td>
                <td><%= data[i].profile%></td>
                <td><%= data[i].category%></td>
                <td><%= data[i].special_requirements%></td>
            </tr>
        <% } %>
        </tbody>
    </table>
</body>

</html>