<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>PetCareService</title>
</head>

<body>
    <div>
        <ul class="horizontal">
            <li><a href="/users/dashboard">Home</a></li>
            <li style="float:right"><a href="/users/logout">Logout</a></li>
            <li style="float:right"><div>Logged in as <%= user %></div></li>

        </ul>
    </div>
     
    <div class="content">
    <div>
        <form class="pure-form-stacked" action="/users/dashboard/pets/" method="post">
            <legend>Add a pet</legend>
            <fieldset>
            <input id="pname" type="text" name="pname" value="" placeholder="Enter pet name">
            <input id="profile" type="text" name="profile" value="" placeholder="Enter pet profile">
            <input id="category" type="text" name="category" value="" placeholder="Enter pet category">
            <input id="special_requirements" type="text" name="special_requirements" value="" placeholder="Enter special reqs (if any)">
            <input type="submit" value="OK">
            </fieldset>
        </form>
    </div>

    <div style="clear: both;"></div>
    <h4>Your Pets</h4>
    <table class="pure-table pure-table-bordered">
        <thead>
        <tr>
            <th scope="col">Pet name</th>
            <th scope="col">Profile</th>
            <th scope="col">Category</th>
            <th scope="col">Special Requirements</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <% for(var i=0; i<data.length; i++) { %>
            <tr>
                <td><%= data[i].pname%></td>
                <td><%= data[i].profile%></td>
                <td><%= data[i].category%></td>
                <td><%= data[i].special_requirements%></td>
                <td>
                    <form action="/users/dashboard/pets/delete" method="post">
                        <input id="pname" type="hidden" name="pname" value="<%= data[i].pname %>">
                        <input type="submit" value="DELETE">
                    </form>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>
    </div>
</body>

</html>